@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

a {
  text-decoration: none;
  color: #ee9b16;
  font-size: x-large;
  font-weight: lighter;
  border-style: outset;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: rgb(37, 35, 35);
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Header Start */
.container {
  max-width: 170%;
  margin: 0 auto;
  padding: 0 50px;
}
.header {
  background-image: url(img/menu.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .header-navbar-logo {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-size: 50px;
} */
.header-navbar-logo {
  height: 110px;
  width: 110px;
  display: flex;
  padding-top: 10px;
  color: #b4802d;
}
ul {
  display: flex;
}
li {
  margin-left: 25px;
}

li:first-child {
  margin-right: 30px;
}
.header-text {
  position: absolute;
  top: 33%;
  left: 48%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-size: 10rem;
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 5px;
  font-family: "Herr Von Muellerhoff", cursive;
  color: rgb(228, 205, 184);
}
h3 {
  margin-bottom: 20px;
  font-size: 22px;
  color: rgb(216, 129, 22);
}
.btn-header {
  display: block;
  position: relative;
  background-color: rgb(228, 205, 184);
  color: #403636;
  padding: 10px 15px;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  overflow: hidden;
}
.btn-header::after {
  content: "BUY";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 129, 22);
  transition: 0.5s;
}
.btn-header:hover:after {
  top: 0;
}
/* Header Finish */

/* About Start */
.about {
  margin-bottom: 150px;
}
.about-title {
  margin: 60px 0;
}
.about-title h2 {
  width: 100%;
  text-align: center;
  margin: auto;
  color: rgb(216, 129, 22);
  font-size: 30px;
  font-weight: 600;
}
.about-title h2:after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: rgb(216, 129, 22);
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-img {
  width: 40%;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-text {
  width: 50%;
}
h4 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
  color: rgb(216, 129, 22);
  font-family: "Herr Von Muellerhoff", cursive;
  letter-spacing: 5px;
  font-weight: lighter;
}
#icon-utensils {
  margin-bottom: 15px;
  text-align: center;
  color: rgb(193, 172, 152);
}
.about-text p {
  font-size: 15px;
  text-align: center;
  color: rgb(101, 90, 79);
}
/* About Finish */
/* Portfolio Star */
.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  width: 25%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(92, 89, 89);
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0.8;
  color: rgb(217, 213, 209);
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.portfolio-item:hover .overlay {
  top: 0;
}
.portfolio-item:hover img {
  transform: scale(1.1);
}
/* Portfolio Finish */

/* Content Start */
.contact {
  padding: 10px 0;
}
.page-title h2 {
  width: 100%;
  text-align: center;
  margin: auto;
  color: rgb(216, 129, 22);
  font-size: 30px;
  font-weight: 600;
}
.contact h2:after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: rgb(216, 129, 22);
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}
.contact-content {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-item {
  display: flex;
  align-items: center;
  flex-basis: 33%;
  margin-bottom: 100px;
  flex-direction: column;
}
.contact-item i {
  font-size: 25px;
  margin-bottom: 30px;
  color: rgb(193, 172, 152);
}
.contact-item p {
  font-size: 14px;
  color: rgb(101, 90, 79);
  line-height: 33px;
}
/* Content Finish */

/* Footer Start */
.footer h2 {
  width: 100%;
  text-align: center;
  margin: auto;
  color: rgb(216, 129, 22);
  font-size: 30px;
  font-weight: 600;
  padding: 55px 0;
}
.footer h2:after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: rgb(216, 129, 22);
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}
.footer {
  background-color: black;
}
.footer-copyright {
  color: white;
  text-align: center;
  flex-basis: 55%;
  line-height: 2;
  font-size: 13px;
  margin-bottom: 25px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-social i {
  color: white;
  margin-bottom: 50px;
  font-size: 25px;
  padding: 0 45px;
}
.footer-socialfirst-child {
  margin-left: 70px;
}
/* Footer Finish  */
